

.list-card {
    display: flex;
    align-items: center;   
    width:100%;
    flex-direction: column;
}

.saved-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px 120px;
    background-color: #282c34;
    color: white;
    border-radius: 8px;
}
